@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
     background-color: #C14B83;
     font-family: 'Fredoka One', cursive;
}

#score {
    position: fixed;
    width: fit-content;
    padding: 10px 15px;
    top: 0;
    right: 0;
    text-align: end;
    background-color: #EA5156;
    border-bottom: 2px solid #45537E;
    border-left: 2px solid #45537E;
}

.bar {
    position: absolute;
    width: 300px;
}
.images{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
